SwiftRecord/SwiftRecord.xcodeproj/xcuserdata/*
SwiftRecord/SwiftRecord.xcodeproj/project.xcworkspace/xcuserdata/*
SwiftRecord/SwiftRecord.xcodeproj/project.xcworkspace/xcshareddata/*
SwiftRecord/SwiftRecord.xcworkspace/xcuserdata/*
SwiftRecord/SwiftRecord.xcworkspace/xcshareddata/*
SwiftRecord/Pods/Pods.xcodeproj/xcuserdata/*
SwiftRecord/build/*
SwiftRecord/Pods/Pods.xcodeproj/xcuserdata/*
SwiftRecord/Pods/*
SwiftRecord/Podfile.lock

bin
obj
packages
*.suo
*.user
*.DS_Store*
contents.xcworkspacedata

